body {
    font-family: 'Georgia', serif; /* Mudança para uma fonte serifada */
    background: url('eu-pai.jpg') no-repeat center center fixed;
    background-size: 40%; /* Diminui o tamanho da imagem de fundo */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para destacar o texto */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #007bff;
    font-family: 'Times New Roman', Times, serif; /* Mudança para uma fonte serifada */
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: 'Georgia', serif; /* Mudança para uma fonte serifada */
}
