body {
    font-family: 'Georgia', serif; /* Mudança para uma fonte serifada */
    background: url('eu-pai.jpg') no-repeat center center fixed;
    background-size: 40%; /* Diminui o tamanho da imagem de fundo */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para destacar o texto */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #007bff;
    font-family: 'Times New Roman', Times, serif; /* Mudança para uma fonte serifada */
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: 'Georgia', serif; /* Mudança para uma fonte serifada */
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        background-size: 100%; /* Aumenta o tamanho da imagem de fundo em telas menores */
        padding: 10px;
    }

    .container {
        padding: 15px;
        max-width: 90%; /* Aumenta a largura da container em telas menores */
    }

    h1 {
        font-size: 1.5em; /* Diminui o tamanho da fonte do título */
    }

    p {
        font-size: 1em; /* Diminui o tamanho da fonte do texto */
    }
}

@media (max-width: 480px) {
    body {
        background-size: 100%; /* Aumenta ainda mais o tamanho da imagem de fundo em telas muito pequenas */
        padding: 5px;
    }

    .container {
        padding: 10px;
        max-width: 100%; /* Container ocupa toda a largura em telas pequenas */
    }

    h1 {
        font-size: 1.2em; /* Diminui ainda mais o tamanho da fonte do título */
    }

    p {
        font-size: 0.9em; /* Diminui o tamanho da fonte do texto */
    }
}
